<%- include('../partials/metadata') %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-3" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="//<%=baseURL%>/">Peter Parks</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="//<%=baseURL%>/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//<%=baseURL%>/login">User Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container text-center h-100">
        <div class="row">
            <div class="col">

            </div>
            <div class="col d-flex align-items-center vh-100">
                <form class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Admin Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <a href="admin-manage" type="submit" class="btn btn-primary btn-success">Log In </a>
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </main>
    <%- include('../partials/close') %>