<%- include('../partials/metadata') %>
    <%- include('../partials/navbar') %>
        <% const {id, name, address, location, price, img, created_by, rented_by, rented_date, rented_time,
            payment_method}=space %>

            <div>
                <h1></h1>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=" <%= img %> " class="rounded mx-auto d-block w-100" alt="Parking Spot"
                            style="max-width: 50%" />
                    </div>
                </div>
            </div>
            <div>
                <h1></h1>
            </div>
            <main class="container text-center h-100">
                <div class="row">
                    <!-- <div class="col">

            </div> -->
                    <form action='/bookspot' method="post" class="col d-flex align-items-center">
                        <table class="table table-success table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Merchant Name</th>
                                    <th scope="col">Parking Spot Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= created_by %>
                                    </td>
                                    <td>
                                        <%= name %>
                                    </td>
                                    <td>
                                        <%= address %>
                                    </td>
                                    <td>
                                        <%= location %>
                                    </td>
                                    <td>
                                        <%= dateformat(rented_date, "ddd, d mmm" ) %>
                                    </td>
                                    <td>
                                        <div class="mb-3">
                                            <input type="hidden" name="id" value="<%= id %>" />
                                            <select class="form-select" name="time" aria-label="Default select example"
                                                required>
                                                <option selected diabled>Choose Time Range</option>
                                                <option value="3pm-4pm">3pm-4pm</option>
                                                <option value="4pm-5pm">4pm-5pm</option>
                                                <option value="5pm-6pm">5pm-6pm</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <%= price %>
                                    </td>
                                    <td>
                                        <button type='submit' class="btn btn-primary btn-success">Confirm
                                            Booking</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- <div class="col">

            </div> -->
                </div>
            </main>
            <%- include('../partials/close') %>