<%- include('../partials/metadata') %>
  <%- include('../partials/navbar') %>

    <h1 class="display-3 text-center">Where Do You Want to Park?</h1>
    <div class="container text-center h-100">
      <div class="row aling-ites">
        <!-- <div class="col">

            </div> -->
        <form action="/dashboard" method="get" class="col d-flex align-items-center">
          <input class="form-control" name="search" list="datalistOptions" id="exampleDataList"
            placeholder="Type to search..." />
          <!-- <datalist id="datalistOptions">
            <option value="Dhaka"></option>
            <option value="Chittagong"></option>
            <option value="Sylhet"></option>
          </datalist> -->

          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <h6 class="display-6">Spots nearby?</h6>

        <% spacesAvail.forEach(({id, name, img })=> { %>
          <div id="<%= id %>" class="card" style="width: 18rem">
            <img src="<%= img %>" class="card-img-top" alt="Parking Picture" />
            <div class="card-body">
              <h5 class="card-title">
                <%= name %>
              </h5>
              <a href="bookspot/<%= id %>" class="btn btn-primary btn-success">Book Now</a>
            </div>
          </div>
          <% }) %>

            <!-- <div class="col">

            </div> -->
      </div>
    </div>

    <h1 class="display-3 text-center">Parking history</h1>
    <main class="container text-center h-100">
      <div class="row">
        <!-- <div class="col">

            </div> -->
        <div class="col d-flex align-items-center">
          <table class="table table-success table-striped">
            <thead>
              <tr>

                <th scope="col">Parking Spot Name</th>
                <th scope="col">Address</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <% spacesBooked.forEach(({id, name, address, location, price, rented_date, rented_time })=> { %>
                <tr id="<%= id %>">

                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= address %>
                  </td>
                  <td>
                    <%= location %>
                  </td>
                  <td>
                    <%= dateformat(rented_date, "ddd, d mmm" ) %>
                  </td>
                  <td>
                    <%= rented_time %>
                  </td>
                  <td>
                    <a href="/parkingspot/<%= id %> " class="btn btn-primary btn-success">View Details</a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
        <!-- <div class="col">

            </div> -->
      </div>
    </main>
    <%- include('../partials/close') %>