<%- include('../partials/metadata') %>
    <%- include('../partials/navbar') %>
        <div>
            <h1></h1>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://live.staticflickr.com/7332/12494310994_41a4f65fc0_b.jpg"
                        class="rounded mx-auto d-block w-100" alt="Parking Spot" style="max-width: 50%;">
                </div>
            </div>
        </div>
        <div>
            <h1></h1>
        </div>
        <main class="container text-center h-100">

            <div class="row">
                <!-- <div class="col">

            </div> -->
                <form action="parkingspot" method="post" class="col d-flex align-items-center ">
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Merchant Name</th>
                                <th scope="col">Parking Spot Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Location</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Price</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% spacesBooked.forEach(({id, name, address, location, price, rented_date,
                                rented_time,payment_method, rented_by,created_by })=> { %>
                                <input type="hidden" name="id" value="<%= id %>">
                                <tr id="<%= id %>">
                                    <th scope="row">
                                        <%= id %>
                                    </th>

                                    <td>
                                        <%= rented_by %>
                                    </td>
                                    <td>
                                        <%= created_by %>
                                    </td>
                                    <td>
                                        <%= name %>
                                    </td>
                                    <td>
                                        <%= address %>
                                    </td>
                                    <td>
                                        <%= location %>
                                    </td>
                                    <td>
                                        <%= dateformat(rented_date, "ddd, d mmm" ) %>
                                    </td>
                                    <td>
                                        <%= rented_time %>
                                    </td>
                                    <td>
                                        <%= price %>
                                    </td>
                                    <td>
                                        <%= payment_method %>
                                    </td>
                                    <td><button type="submit" class="btn btn-success">End Booking</button></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
            </div>
            <!-- <div class="col">

            </div> -->
            </div>
        </main>
        <%- include('../partials/close') %>